html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
}

header > p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

header ul {
  display: flex;
  align-items: flex-end;
  margin-bottom: -3px;
}

header a {
  color: #ffffff;
}

header li {
  margin: 0 30px;

  font-style: normal;
  letter-spacing: 0.2em;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

header li > a:hover::after {
  content: " ";
  border: 1px solid #eeeeee;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

header li > a {
  position: relative;
}

.home {
  position: relative;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png) no-repeat
    center center;
  background-size: cover;
}

.home img {
  margin: 0 auto;
  padding-top: 200px;
  display: block;
}

.home h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: #ffffff;
  margin-top: 13px;
}

.home h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

main {
  background: #eeeeee;
  /* height: 700px; */
  display: grid;
  padding-bottom: 3rem;
}

main h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  padding-top: 87px;
}

main h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-top: 40px;
  margin-bottom: 45px;
}

main div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 83px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

main p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: inherit;
  color: #000000;
}

main button {
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 21px auto;
  display: block;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
}

.learn {
  background: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
  /* height: 666px; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-size: cover;
  padding-bottom: 3rem;
}

.learn .info {
  position: relative;
}

.learn .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(140, 79, 42, 0.3);
}

.learn h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  padding-top: 84px;
}

.learn button {
  background: #39c2d7;
  border-radius: 50%;
  padding: 40px 48px 40px 50px;
  display: block;
  margin: 53px auto;
  border: none;
  color: fff;
  font-size: 70px;
  height: 154px;
  width: 150px;
  cursor: pointer;
}

.learn h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
}

footer {
  font-family: Source Sans Pro;
  background: #464547;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 80px;
}

footer .container {
  width: 900px;
  display: flex;
}

footer p {
  line-height: 19px;
  font-size: 16px;
}

.ft-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 12px;
  align-self: baseline;
  flex: 0.5;
}

.ft-name img {
  margin-right: 16px;
}

.ft-contact {
  margin-top: 12px;
  flex: 1;
}

.ft-contact > a {
  margin-top: 30px;
  display: flex;
}

footer :nth-child(3) {
  align-self: end;
}

footer a,
p {
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) {
  header {
    justify-content: flex-start;
  }

  header ul li {
    display: none;
  }

  header p {
    padding-left: 40px;
  }

  .burger {
    position: absolute;
    right: 40px;
    height: 22px;
    width: 23px;
    cursor: pointer;
  }

  header > p > a.burger::after {
    content: " ";
    border: 1px solid #eeeeee;
    position: absolute;
    top: 0.25em;
    width: 1em;
    box-shadow: 0 0.25em 0 0 #fff, 0 0.5em 0 0 #fff;
  }

  main div {
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    gap: 24px;
    margin: 0 2rem;
  }

  main h3 {
    text-align: left;
    padding-left: 2rem;
  }

  main h2 {
    text-align: left;
    padding-left: 2rem;
  }

  main button {
    margin: 21px auto auto 33px;
  }

  footer .container {
    flex-direction: column;
    width: unset;
    align-items: center;
    text-align: center;
  }
  .ft-contact {
    margin-top: 2rem;
  }

  .ft-contact > a {
    margin: 18 0;
  }
  .ft-name {
    align-self: unset;
  }
}
